<div class="container w-50 p-3">
  {{>message}}
  <form action="/records/{{record._id}}/edit?_method=PUT" method="POST">

    <div class="input-group mt-5 mb-5">
      <label class="input-group-text" for="name">名稱：</label>
      <input class="form-control" type="text" name="name" id="name" value="{{record.name}}" required>
    </div>

    <div class="input-group mb-5">
      <label class="input-group-text" for="category">類別：</label>
      <select class="form-select" name="category" id="category">
        {{#if recordCategory}}
        <option value="{{recordCategory}}" selected>{{recordCategory}}</option>
        {{/if}}
        {{#each otherCategory}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}       
      </select>
    </div>
    <div class="input-group mb-5">
      <label class="input-group-text" for="date">日期：</label>
      <input class="form-control" name="date" id="date" type="date" value="{{record.date}}" required>
    </div>
    <div class="input-group mb-5">
      <label class="input-group-text" for="amount">金額：</label>
      <input class="form-control" type="number" name="amount" id="amount" value="{{record.amount}}" required>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-success mb-3">修改支出</button>
    </div>
  </form>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="/" class="btn btn-primary mb-3">返回首頁</a>
    <form action="/records/{{record._id}}/delete?_method=DELETE" method="POST">
      <button class="btn btn-danger mb-3" type="submit">刪除</button>
    </form>
  </div>
</div>