<div class="container mt-4">
  <div class="container mb-5">
    <form action="/category" method="POST">
      <select class="form-select" aria-label="Default select example" name="category" id="category"
        onchange='this.form.submit()'>
        <option value="類別">類別</option>
        <option value="家居物業">家居物業</option>
        <option value="交通出行">交通出行</option>
        <option value="休閒娛樂">休閒娛樂</option>
        <option value="餐飲食品">餐飲食品</option>
        <option value="其他">其他</option>
      </select>
    </form>
  </div>
  <div class="container">
    <table class="table table-striped table-hover">
      <thead>
        總金額:<h1 class="text-center">{{totalAmount}}</h1>
      </thead>
      <tbody>
        {{#each records}}
        <tr>
          <td class="align-middle">{{{this.categoryId.categoryIcon}}}</td>
          <td class="align-middle">{{this.name}}</td>
          <td class="align-middle">{{this.amount}}</td>
          <td class="d-flex justify-content-end"><a href="/records/{{this._id}}/edit"
              class="btn btn-success btn-sm mx-2">修改</a>
            <form action="/records/{{this._id}}/delete?_method=DELETE" method="POST">
              <button class="btn btn-danger btn-sm" type="submit">刪除</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="d-grid gap-2">
      <a href="/records/new" class="btn btn-success">新增支出</a>
    </div>
  </div>
</div>